.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(215, 63, 9);
  padding: 10px;
  height: 50px;
}

.navbar a {
  flex: 1;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.navbar a:hover {
  opacity: 60%;
}

a.active {
  background-color: rgb(245, 83, 29);
  border-radius: 10px;
}
