/* Style for the question card */
.question-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  width: 120%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
}

.question-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: calc(110vh - 110px);
  overflow-y: auto;
}

.action-buttons {
  display: flex;
  margin-left: 20px;
}

.action-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

.action-buttons button:hover {
  background-color: #0056b3;
}
