/* Style for the question card */
.question-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.question-card label {
  text-align: center;
  justify-self: center;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.question-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: calc(110vh - 110px);
  overflow-y: auto;
}

.question-info-holder {
  padding: 10px;
}

.action-buttons {
  background-color: rgb(215, 63, 9);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
  min-width: 80px;
}

.action-buttons-icon {
  background-color: #cccccc;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
  width: 50px;
}

.action-buttons:hover {
  background-color: rgb(245, 83, 29);
}

.action-buttons-icon:hover {
  background-color: #dddddd;
}

.buttons-dark {
  color: white;
  background-color: #222222;
  border: 2px none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
  min-width: 80px;
}

.buttons-dark:hover {
  background-color: rgb(215, 63, 9);
}