@font-face {
  font-family: "Exo";
  src: url("fonts/exo.ttf"), url("fonts/exo-bold.ttf"), url("fonts/exo-italic.ttf");
  font-weight: normal;
  font-style: normal, bold, italic;
}

body {
  margin: 0;
  background-color: rgb(227, 220, 218);
  font-family: "Exo", sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

hr {
  margin: 20px auto;
  width: 90%;
}

button {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  min-width: 100px;
  margin: 5px;
  padding: 10px;
}

.pdfbutton {
  margin: 5px;
  padding: 0px;
}

button:disabled {
  background-color: #BBBBBB;
  color: #888888;
}

button:active {
  background-color: #BBBBBB;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
}

a.active {
  background-color: rgb(245, 83, 29);
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(215, 63, 9);
  padding: 10px;
  height: 50px;
}

.navbar a {
  flex: 1;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.navbar a:hover {
  opacity: 60%;
}

.dialog {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.dialog-div {
  width: 300px;
  margin: auto;
  display: none;
}

.dialog input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
  background-color: white;
  color: black;
}

.sidebar {
  background-color: #444444;
  color: white;
  padding: 5px 20px;
  height: fill-available;
  min-height: calc(100vh - 80px);
  overflow: auto;
}

.loading-symbol {
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  display: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
}

.sidebar a:hover {
  background-color: #ccc;
}

.filter-box {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(210, 11, 11, 0.1);
}

.filter-box h3 {
  margin-top: 0;
}

.filter-box li {
  padding: 5px 0;
}

.main-holder {
  display: flex;
  justify-content: center;
}

.content-holder {
  display: flex;
  justify-content: left;
  width: 30em;
  min-width: 300px;
  max-width: 500px;
  margin: 0px;
  padding: 0px;
}

.question-holder {
  padding-left: 20px;
  padding-right: 10px;
  width: calc(100% - 25em);
  height: fit-content;
}

.question-individual {
  padding-bottom: 16px;
  line-height: 1.5;
}

.inputbox {
  border: 4px solid white;
}

.select-box {
  width: 150px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

.filters-menu {
  padding: 50px;
  color: black;
  background-color: white;
}