@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

body {
  margin: 0;
  background-color: rgb(227, 220, 218);
  font-family: "Exo", sans-serif;
}

a.active {
  background-color: rgb(214, 177, 43);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 134, 43);
  padding: 10px;
  height: 50px;
}

.navbar a {
  flex: 1;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: rgb(213, 167, 150); /* Change background color on hover */
}

.dialog {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  border-radius: 3px;
  margin: 15px;
  max-width: 400px; /* Adjust the width as needed */
}

.sidebar {
  width: 200px;
  background-color: rgb(237, 172, 43);
  padding: 10px;
  height: calc(97vh - 50px);
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
}

.sidebar a:hover {
  background-color: #ccc;
}
